* {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
}

body {
	background-color:hsla(0,0%,100%,1);
	background-image:
	radial-gradient(at 40% 20%, hsla(28,100%,74%,0.34) 0px, transparent 50%),
	radial-gradient(at 80% 0%, hsla(189,100%,56%,0.32) 0px, transparent 50%),
	radial-gradient(at 0% 50%, hsla(355,100%,93%,0.31) 0px, transparent 50%),
	radial-gradient(at 80% 50%, hsla(340,100%,76%,0.3) 0px, transparent 50%),
	radial-gradient(at 0% 100%, hsla(22,100%,77%,0.34) 0px, transparent 50%),
	radial-gradient(at 80% 100%, hsla(240,100%,70%,0.3) 0px, transparent 50%),
	radial-gradient(at 0% 0%, hsla(343,100%,76%,0.31) 0px, transparent 50%);
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 35px;
  color: darkslategrey;
}

.adelaide_text{
	color: #68023F;
}

.alicesprings_text {
	color: #008169;
}

.brisbane_text {
	color: #ff00a2;
}

.karratha_text {
	color: #9400E6;
}

.goldcoast_text {
	color: #FF71FD;
}

.melbourne_text {
	color: #6A0213;
}

.portmac_text {
	color: #F60239;
}

.sydney_text {
	color: #FFDC3D;
}

.page {
	border-radius: 30px;
	width: 1000px;
	background-color: white;
	margin: auto;
	padding: 50px;
	padding-top: 10px;
	display: flexbox;
}

.page_container {
	border-radius: 30px;
	width: 1100px;
	/* background-color: silver; */
	margin: auto;
	padding: 25px;
	padding-top: 25px;
}

.separator{
	width: 25px;
	height: 25px;
  }

.small-font{
	font-size: small;
	color: grey;
}

#rcorners1 {
	border-radius: 25px;
	background: white;
	padding: 20px;
	width: 200px;
	height: 150px;
  }

.page:hover {
	border: 2px solid;
	border-color:gainsboro;
}
  